// ----------------------------------
// Ce document contient toutes les valeurs de configuration du projet.
// Ces valeurs génèrent des classes utilitaires, à placer dans le HTML.
// (ex. class="bg-pink md:bg-hotpink")
// ... Mais aussi les custom properties CSS associées
// (ex. "--color-secondary: pink;")
// ----------------------------------

// Breakpoints
$breakpoints: (
  sm: 36rem,
  md: 62rem,
  lg: 87.5rem,
);

// Couleurs
$color-palette: (
  "black": #000000,
  "white": #ffffff,
  "gray-10": #e6e7e8,
  "gray-50": #939598,
  "gray-90": #414042,
  "gray-95": #262527,
  "green-50": #3c763d,
  "green-60": #275c28,
  "orange-20": #ecc984,
  "orange-30": #dcaa44,
  "orange-50": #c4851c,
  "orange-60": #8a6d3b,
  "blue-50": #0d7192,
  "blue-60": #005e7d,
  "pink-10": #f4cee1,
  "pink-60": #8e1d56,
);

// Largeurs / Espacements
$sizes: (
  "0": 0,
  "1": 1px,
  "2": 0.125rem,
  "4": 0.25rem,
  "6": 0.375rem,
  "8": 0.5rem,
  "10": 0.625rem,
  "12": 0.75rem,
  "14": 0.875rem,
  "16": 1rem,
  "20": 1.25rem,
  "24": 1.5rem,
  "36": 2.25rem,
  "40": 2.5rem,
  "48": 3rem,
  "56": 3.5rem,
  "64": 4rem,
  "25p": 25%,
  "50p": 50%,
  "75p": 75%,
  "100p": 100%,
  "auto": auto,
);

// Tailles de polices
$font-sizes: (
  "10": 0.625rem,
  "11": 0.6875rem,
  "12": 0.75rem,
  "14": 0.875rem,
  "16": 1rem,
  "18": 1.125rem,
  "20": 1.25rem,
  "24": 1.5rem,
  "30": 1.875rem,
  "36": 2.25rem,
  "40": 2.5rem,
  "48": 3rem,
  "base": 1rem,
  "inherit": inherit,
);

// Graisses de polices
$font-weights: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900,
);

// Valeurs de border-radius
$radius: (
  "none": 0,
  "sm": 0.25rem,
  "md": 0.5rem,
  "lg": 1rem,
  "full": 999px,
);

// Valeurs de display
$displays: (
  "none": none,
  "show": revert,
  "block": block,
  "inline": inline,
  "inline-block": inline-block,
  "flex": flex,
  "inline-flex": inline-flex,
  "grid": grid,
  "inline-grid": inline-grid,
);

// Valeurs d'alignement (texte)
$text-alignments: (
  "start": start,
  "end": end,
  "center": center,
  "justify": justify,
);

// Valeurs d'alignement (flex et grid items)
$box-alignments: (
  "start": start,
  "end": end,
  "center": center,
  "between": space-between,
  "stretch": stretch,
  "auto": auto,
);
