/*
 * Switch to border-box model for all elements
 * Avoid min-width: auto on flex and grid items
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  min-width: 0;
}

/* Break words to prevent overflows */
html {
  overflow-wrap: break-word;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove default margin and padding */
*:where(body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd) {
  margin: 0;
  padding: 0;
}

/* Remove list styles if they have a class */
*:where(ol, ul):where([class]) {
  list-style: none;
  padding-left: 0;
}

/* Prevent elements to exceed their container */
*:where(img,
table,
td,
blockquote,
pre,
code,
input,
textarea,
select,
video,
svg,
iframe) {
  max-width: 100%;
}

/* Keep aspect-ratio */
*:where(iframe,
img,
input,
select,
textarea) {
  height: auto;
}

/* Give links default styles */
:where(a:not([class])) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Styles for tables */
:where(table) {
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: top;
}

/* Remove border on images and iframes */
:where(img,
iframe) {
  border-style: none;
}

/* Fill color matching to text color */
:where(svg:not([fill])) {
  fill: currentColor;
}

/*
 * 1. Change the inconsistent appearance in all browsers.
 * 2. Add typography inheritance in all browsers.
 */
:where(input,
button,
textarea,
select) {
  margin: 0;
  background-color: transparent; /* 1 */
  color: inherit; /* 1 */
  font-family: inherit; /* 2 */
  font-size: inherit; /* 2 */
  line-height: inherit; /* 2 */
  letter-spacing: inherit; /* 2 */
  vertical-align: middle;
}

/*
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
:where(pre,
code,
kbd,
samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

:where(pre) {
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  white-space: pre-wrap;
  line-height: normal;
  overflow: auto;
}

:where(form,
fieldset) {
  border: none;
}

:where(fieldset) {
  margin: 0;
  padding: 1em;
}

:where(legend) {
  max-width: 100%;
  border: 0;
  color: inherit;
  white-space: normal;
}

:where(label) {
  display: inline-block;
  cursor: pointer;
}

:where(textarea) {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  white-space: pre-wrap;
}

/*
 * Change the cursor on busy elements in all browsers.
 */
:where([aria-busy=true]) {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers.
 */
:where([aria-controls]) {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers.
 */
:where([aria-disabled=true],
[disabled]) {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers.
 */
:where([aria-hidden=false][hidden]) {
  display: revert;
}

:where([aria-hidden=false][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* Remove all animations on demand */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation: none !important;
            animation: none !important;
    transition: none !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}
.text-powderblue {
  color: powderblue;
}

.text-pink {
  color: pink;
}

.text-hotpink {
  color: #FF69B4;
}

.text-peachpuff {
  color: peachpuff;
}

.text-thistle {
  color: thistle;
}

.text-bisque {
  color: bisque;
}

.sm\:text-powderblue {
  color: powderblue;
}

.sm\:text-pink {
  color: pink;
}

.sm\:text-hotpink {
  color: #FF69B4;
}

.sm\:text-peachpuff {
  color: peachpuff;
}

.sm\:text-thistle {
  color: thistle;
}

.sm\:text-bisque {
  color: bisque;
}

.md\:text-powderblue {
  color: powderblue;
}

.md\:text-pink {
  color: pink;
}

.md\:text-hotpink {
  color: #FF69B4;
}

.md\:text-peachpuff {
  color: peachpuff;
}

.md\:text-thistle {
  color: thistle;
}

.md\:text-bisque {
  color: bisque;
}

.lg\:text-powderblue {
  color: powderblue;
}

.lg\:text-pink {
  color: pink;
}

.lg\:text-hotpink {
  color: #FF69B4;
}

.lg\:text-peachpuff {
  color: peachpuff;
}

.lg\:text-thistle {
  color: thistle;
}

.lg\:text-bisque {
  color: bisque;
}

.bg-powderblue {
  background-color: powderblue;
}

.bg-pink {
  background-color: pink;
}

.bg-hotpink {
  background-color: #FF69B4;
}

.bg-peachpuff {
  background-color: peachpuff;
}

.bg-thistle {
  background-color: thistle;
}

.bg-bisque {
  background-color: bisque;
}

.sm\:bg-powderblue {
  background-color: powderblue;
}

.sm\:bg-pink {
  background-color: pink;
}

.sm\:bg-hotpink {
  background-color: #FF69B4;
}

.sm\:bg-peachpuff {
  background-color: peachpuff;
}

.sm\:bg-thistle {
  background-color: thistle;
}

.sm\:bg-bisque {
  background-color: bisque;
}

.md\:bg-powderblue {
  background-color: powderblue;
}

.md\:bg-pink {
  background-color: pink;
}

.md\:bg-hotpink {
  background-color: #FF69B4;
}

.md\:bg-peachpuff {
  background-color: peachpuff;
}

.md\:bg-thistle {
  background-color: thistle;
}

.md\:bg-bisque {
  background-color: bisque;
}

.lg\:bg-powderblue {
  background-color: powderblue;
}

.lg\:bg-pink {
  background-color: pink;
}

.lg\:bg-hotpink {
  background-color: #FF69B4;
}

.lg\:bg-peachpuff {
  background-color: peachpuff;
}

.lg\:bg-thistle {
  background-color: thistle;
}

.lg\:bg-bisque {
  background-color: bisque;
}

.text-10 {
  font-size: 0.625rem;
}

.text-11 {
  font-size: 0.6875rem;
}

.text-12 {
  font-size: 0.75rem;
}

.text-14 {
  font-size: 0.875rem;
}

.text-16 {
  font-size: 1rem;
}

.text-18 {
  font-size: 1.125rem;
}

.text-20 {
  font-size: 1.25rem;
}

.text-24 {
  font-size: 1.5rem;
}

.text-30 {
  font-size: 1.875rem;
}

.text-36 {
  font-size: 2.25rem;
}

.text-base {
  font-size: 1rem;
}

.text-inherit {
  font-size: inherit;
}

.sm\:text-10 {
  font-size: 0.625rem;
}

.sm\:text-11 {
  font-size: 0.6875rem;
}

.sm\:text-12 {
  font-size: 0.75rem;
}

.sm\:text-14 {
  font-size: 0.875rem;
}

.sm\:text-16 {
  font-size: 1rem;
}

.sm\:text-18 {
  font-size: 1.125rem;
}

.sm\:text-20 {
  font-size: 1.25rem;
}

.sm\:text-24 {
  font-size: 1.5rem;
}

.sm\:text-30 {
  font-size: 1.875rem;
}

.sm\:text-36 {
  font-size: 2.25rem;
}

.sm\:text-base {
  font-size: 1rem;
}

.sm\:text-inherit {
  font-size: inherit;
}

.md\:text-10 {
  font-size: 0.625rem;
}

.md\:text-11 {
  font-size: 0.6875rem;
}

.md\:text-12 {
  font-size: 0.75rem;
}

.md\:text-14 {
  font-size: 0.875rem;
}

.md\:text-16 {
  font-size: 1rem;
}

.md\:text-18 {
  font-size: 1.125rem;
}

.md\:text-20 {
  font-size: 1.25rem;
}

.md\:text-24 {
  font-size: 1.5rem;
}

.md\:text-30 {
  font-size: 1.875rem;
}

.md\:text-36 {
  font-size: 2.25rem;
}

.md\:text-base {
  font-size: 1rem;
}

.md\:text-inherit {
  font-size: inherit;
}

.lg\:text-10 {
  font-size: 0.625rem;
}

.lg\:text-11 {
  font-size: 0.6875rem;
}

.lg\:text-12 {
  font-size: 0.75rem;
}

.lg\:text-14 {
  font-size: 0.875rem;
}

.lg\:text-16 {
  font-size: 1rem;
}

.lg\:text-18 {
  font-size: 1.125rem;
}

.lg\:text-20 {
  font-size: 1.25rem;
}

.lg\:text-24 {
  font-size: 1.5rem;
}

.lg\:text-30 {
  font-size: 1.875rem;
}

.lg\:text-36 {
  font-size: 2.25rem;
}

.lg\:text-base {
  font-size: 1rem;
}

.lg\:text-inherit {
  font-size: inherit;
}

.lh-10 {
  line-height: 0.625rem;
}

.lh-11 {
  line-height: 0.6875rem;
}

.lh-12 {
  line-height: 0.75rem;
}

.lh-14 {
  line-height: 0.875rem;
}

.lh-16 {
  line-height: 1rem;
}

.lh-18 {
  line-height: 1.125rem;
}

.lh-20 {
  line-height: 1.25rem;
}

.lh-24 {
  line-height: 1.5rem;
}

.lh-30 {
  line-height: 1.875rem;
}

.lh-36 {
  line-height: 2.25rem;
}

.lh-base {
  line-height: 1rem;
}

.lh-inherit {
  line-height: inherit;
}

.sm\:lh-10 {
  line-height: 0.625rem;
}

.sm\:lh-11 {
  line-height: 0.6875rem;
}

.sm\:lh-12 {
  line-height: 0.75rem;
}

.sm\:lh-14 {
  line-height: 0.875rem;
}

.sm\:lh-16 {
  line-height: 1rem;
}

.sm\:lh-18 {
  line-height: 1.125rem;
}

.sm\:lh-20 {
  line-height: 1.25rem;
}

.sm\:lh-24 {
  line-height: 1.5rem;
}

.sm\:lh-30 {
  line-height: 1.875rem;
}

.sm\:lh-36 {
  line-height: 2.25rem;
}

.sm\:lh-base {
  line-height: 1rem;
}

.sm\:lh-inherit {
  line-height: inherit;
}

.md\:lh-10 {
  line-height: 0.625rem;
}

.md\:lh-11 {
  line-height: 0.6875rem;
}

.md\:lh-12 {
  line-height: 0.75rem;
}

.md\:lh-14 {
  line-height: 0.875rem;
}

.md\:lh-16 {
  line-height: 1rem;
}

.md\:lh-18 {
  line-height: 1.125rem;
}

.md\:lh-20 {
  line-height: 1.25rem;
}

.md\:lh-24 {
  line-height: 1.5rem;
}

.md\:lh-30 {
  line-height: 1.875rem;
}

.md\:lh-36 {
  line-height: 2.25rem;
}

.md\:lh-base {
  line-height: 1rem;
}

.md\:lh-inherit {
  line-height: inherit;
}

.lg\:lh-10 {
  line-height: 0.625rem;
}

.lg\:lh-11 {
  line-height: 0.6875rem;
}

.lg\:lh-12 {
  line-height: 0.75rem;
}

.lg\:lh-14 {
  line-height: 0.875rem;
}

.lg\:lh-16 {
  line-height: 1rem;
}

.lg\:lh-18 {
  line-height: 1.125rem;
}

.lg\:lh-20 {
  line-height: 1.25rem;
}

.lg\:lh-24 {
  line-height: 1.5rem;
}

.lg\:lh-30 {
  line-height: 1.875rem;
}

.lg\:lh-36 {
  line-height: 2.25rem;
}

.lg\:lh-base {
  line-height: 1rem;
}

.lg\:lh-inherit {
  line-height: inherit;
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 1px;
}

.gap-2 {
  gap: 0.125rem;
}

.gap-4 {
  gap: 0.25rem;
}

.gap-8 {
  gap: 0.5rem;
}

.gap-12 {
  gap: 0.75rem;
}

.gap-16 {
  gap: 1rem;
}

.gap-20 {
  gap: 1.25rem;
}

.gap-24 {
  gap: 1.5rem;
}

.gap-36 {
  gap: 2.25rem;
}

.sm\:gap-0 {
  gap: 0;
}

.sm\:gap-1 {
  gap: 1px;
}

.sm\:gap-2 {
  gap: 0.125rem;
}

.sm\:gap-4 {
  gap: 0.25rem;
}

.sm\:gap-8 {
  gap: 0.5rem;
}

.sm\:gap-12 {
  gap: 0.75rem;
}

.sm\:gap-16 {
  gap: 1rem;
}

.sm\:gap-20 {
  gap: 1.25rem;
}

.sm\:gap-24 {
  gap: 1.5rem;
}

.sm\:gap-36 {
  gap: 2.25rem;
}

.md\:gap-0 {
  gap: 0;
}

.md\:gap-1 {
  gap: 1px;
}

.md\:gap-2 {
  gap: 0.125rem;
}

.md\:gap-4 {
  gap: 0.25rem;
}

.md\:gap-8 {
  gap: 0.5rem;
}

.md\:gap-12 {
  gap: 0.75rem;
}

.md\:gap-16 {
  gap: 1rem;
}

.md\:gap-20 {
  gap: 1.25rem;
}

.md\:gap-24 {
  gap: 1.5rem;
}

.md\:gap-36 {
  gap: 2.25rem;
}

.lg\:gap-0 {
  gap: 0;
}

.lg\:gap-1 {
  gap: 1px;
}

.lg\:gap-2 {
  gap: 0.125rem;
}

.lg\:gap-4 {
  gap: 0.25rem;
}

.lg\:gap-8 {
  gap: 0.5rem;
}

.lg\:gap-12 {
  gap: 0.75rem;
}

.lg\:gap-16 {
  gap: 1rem;
}

.lg\:gap-20 {
  gap: 1.25rem;
}

.lg\:gap-24 {
  gap: 1.5rem;
}

.lg\:gap-36 {
  gap: 2.25rem;
}

.rounded-none {
  border-radius: 0;
}

.rounded-sm {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.5rem;
}

.rounded-lg {
  border-radius: 1rem;
}

.rounded-full {
  border-radius: 999px;
}

.sm\:rounded-none {
  border-radius: 0;
}

.sm\:rounded-sm {
  border-radius: 0.25rem;
}

.sm\:rounded-md {
  border-radius: 0.5rem;
}

.sm\:rounded-lg {
  border-radius: 1rem;
}

.sm\:rounded-full {
  border-radius: 999px;
}

.md\:rounded-none {
  border-radius: 0;
}

.md\:rounded-sm {
  border-radius: 0.25rem;
}

.md\:rounded-md {
  border-radius: 0.5rem;
}

.md\:rounded-lg {
  border-radius: 1rem;
}

.md\:rounded-full {
  border-radius: 999px;
}

.lg\:rounded-none {
  border-radius: 0;
}

.lg\:rounded-sm {
  border-radius: 0.25rem;
}

.lg\:rounded-md {
  border-radius: 0.5rem;
}

.lg\:rounded-lg {
  border-radius: 1rem;
}

.lg\:rounded-full {
  border-radius: 999px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1px;
}

.p-2 {
  padding: 0.125rem;
}

.p-4 {
  padding: 0.25rem;
}

.p-8 {
  padding: 0.5rem;
}

.p-12 {
  padding: 0.75rem;
}

.p-16 {
  padding: 1rem;
}

.p-20 {
  padding: 1.25rem;
}

.p-24 {
  padding: 1.5rem;
}

.p-36 {
  padding: 2.25rem;
}

.sm\:p-0 {
  padding: 0;
}

.sm\:p-1 {
  padding: 1px;
}

.sm\:p-2 {
  padding: 0.125rem;
}

.sm\:p-4 {
  padding: 0.25rem;
}

.sm\:p-8 {
  padding: 0.5rem;
}

.sm\:p-12 {
  padding: 0.75rem;
}

.sm\:p-16 {
  padding: 1rem;
}

.sm\:p-20 {
  padding: 1.25rem;
}

.sm\:p-24 {
  padding: 1.5rem;
}

.sm\:p-36 {
  padding: 2.25rem;
}

.md\:p-0 {
  padding: 0;
}

.md\:p-1 {
  padding: 1px;
}

.md\:p-2 {
  padding: 0.125rem;
}

.md\:p-4 {
  padding: 0.25rem;
}

.md\:p-8 {
  padding: 0.5rem;
}

.md\:p-12 {
  padding: 0.75rem;
}

.md\:p-16 {
  padding: 1rem;
}

.md\:p-20 {
  padding: 1.25rem;
}

.md\:p-24 {
  padding: 1.5rem;
}

.md\:p-36 {
  padding: 2.25rem;
}

.lg\:p-0 {
  padding: 0;
}

.lg\:p-1 {
  padding: 1px;
}

.lg\:p-2 {
  padding: 0.125rem;
}

.lg\:p-4 {
  padding: 0.25rem;
}

.lg\:p-8 {
  padding: 0.5rem;
}

.lg\:p-12 {
  padding: 0.75rem;
}

.lg\:p-16 {
  padding: 1rem;
}

.lg\:p-20 {
  padding: 1.25rem;
}

.lg\:p-24 {
  padding: 1.5rem;
}

.lg\:p-36 {
  padding: 2.25rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1px;
}

.pt-2 {
  padding-top: 0.125rem;
}

.pt-4 {
  padding-top: 0.25rem;
}

.pt-8 {
  padding-top: 0.5rem;
}

.pt-12 {
  padding-top: 0.75rem;
}

.pt-16 {
  padding-top: 1rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.pt-24 {
  padding-top: 1.5rem;
}

.pt-36 {
  padding-top: 2.25rem;
}

.sm\:pt-0 {
  padding-top: 0;
}

.sm\:pt-1 {
  padding-top: 1px;
}

.sm\:pt-2 {
  padding-top: 0.125rem;
}

.sm\:pt-4 {
  padding-top: 0.25rem;
}

.sm\:pt-8 {
  padding-top: 0.5rem;
}

.sm\:pt-12 {
  padding-top: 0.75rem;
}

.sm\:pt-16 {
  padding-top: 1rem;
}

.sm\:pt-20 {
  padding-top: 1.25rem;
}

.sm\:pt-24 {
  padding-top: 1.5rem;
}

.sm\:pt-36 {
  padding-top: 2.25rem;
}

.md\:pt-0 {
  padding-top: 0;
}

.md\:pt-1 {
  padding-top: 1px;
}

.md\:pt-2 {
  padding-top: 0.125rem;
}

.md\:pt-4 {
  padding-top: 0.25rem;
}

.md\:pt-8 {
  padding-top: 0.5rem;
}

.md\:pt-12 {
  padding-top: 0.75rem;
}

.md\:pt-16 {
  padding-top: 1rem;
}

.md\:pt-20 {
  padding-top: 1.25rem;
}

.md\:pt-24 {
  padding-top: 1.5rem;
}

.md\:pt-36 {
  padding-top: 2.25rem;
}

.lg\:pt-0 {
  padding-top: 0;
}

.lg\:pt-1 {
  padding-top: 1px;
}

.lg\:pt-2 {
  padding-top: 0.125rem;
}

.lg\:pt-4 {
  padding-top: 0.25rem;
}

.lg\:pt-8 {
  padding-top: 0.5rem;
}

.lg\:pt-12 {
  padding-top: 0.75rem;
}

.lg\:pt-16 {
  padding-top: 1rem;
}

.lg\:pt-20 {
  padding-top: 1.25rem;
}

.lg\:pt-24 {
  padding-top: 1.5rem;
}

.lg\:pt-36 {
  padding-top: 2.25rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1px;
}

.pr-2 {
  padding-right: 0.125rem;
}

.pr-4 {
  padding-right: 0.25rem;
}

.pr-8 {
  padding-right: 0.5rem;
}

.pr-12 {
  padding-right: 0.75rem;
}

.pr-16 {
  padding-right: 1rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.pr-24 {
  padding-right: 1.5rem;
}

.pr-36 {
  padding-right: 2.25rem;
}

.sm\:pr-0 {
  padding-right: 0;
}

.sm\:pr-1 {
  padding-right: 1px;
}

.sm\:pr-2 {
  padding-right: 0.125rem;
}

.sm\:pr-4 {
  padding-right: 0.25rem;
}

.sm\:pr-8 {
  padding-right: 0.5rem;
}

.sm\:pr-12 {
  padding-right: 0.75rem;
}

.sm\:pr-16 {
  padding-right: 1rem;
}

.sm\:pr-20 {
  padding-right: 1.25rem;
}

.sm\:pr-24 {
  padding-right: 1.5rem;
}

.sm\:pr-36 {
  padding-right: 2.25rem;
}

.md\:pr-0 {
  padding-right: 0;
}

.md\:pr-1 {
  padding-right: 1px;
}

.md\:pr-2 {
  padding-right: 0.125rem;
}

.md\:pr-4 {
  padding-right: 0.25rem;
}

.md\:pr-8 {
  padding-right: 0.5rem;
}

.md\:pr-12 {
  padding-right: 0.75rem;
}

.md\:pr-16 {
  padding-right: 1rem;
}

.md\:pr-20 {
  padding-right: 1.25rem;
}

.md\:pr-24 {
  padding-right: 1.5rem;
}

.md\:pr-36 {
  padding-right: 2.25rem;
}

.lg\:pr-0 {
  padding-right: 0;
}

.lg\:pr-1 {
  padding-right: 1px;
}

.lg\:pr-2 {
  padding-right: 0.125rem;
}

.lg\:pr-4 {
  padding-right: 0.25rem;
}

.lg\:pr-8 {
  padding-right: 0.5rem;
}

.lg\:pr-12 {
  padding-right: 0.75rem;
}

.lg\:pr-16 {
  padding-right: 1rem;
}

.lg\:pr-20 {
  padding-right: 1.25rem;
}

.lg\:pr-24 {
  padding-right: 1.5rem;
}

.lg\:pr-36 {
  padding-right: 2.25rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1px;
}

.pb-2 {
  padding-bottom: 0.125rem;
}

.pb-4 {
  padding-bottom: 0.25rem;
}

.pb-8 {
  padding-bottom: 0.5rem;
}

.pb-12 {
  padding-bottom: 0.75rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.pb-36 {
  padding-bottom: 2.25rem;
}

.sm\:pb-0 {
  padding-bottom: 0;
}

.sm\:pb-1 {
  padding-bottom: 1px;
}

.sm\:pb-2 {
  padding-bottom: 0.125rem;
}

.sm\:pb-4 {
  padding-bottom: 0.25rem;
}

.sm\:pb-8 {
  padding-bottom: 0.5rem;
}

.sm\:pb-12 {
  padding-bottom: 0.75rem;
}

.sm\:pb-16 {
  padding-bottom: 1rem;
}

.sm\:pb-20 {
  padding-bottom: 1.25rem;
}

.sm\:pb-24 {
  padding-bottom: 1.5rem;
}

.sm\:pb-36 {
  padding-bottom: 2.25rem;
}

.md\:pb-0 {
  padding-bottom: 0;
}

.md\:pb-1 {
  padding-bottom: 1px;
}

.md\:pb-2 {
  padding-bottom: 0.125rem;
}

.md\:pb-4 {
  padding-bottom: 0.25rem;
}

.md\:pb-8 {
  padding-bottom: 0.5rem;
}

.md\:pb-12 {
  padding-bottom: 0.75rem;
}

.md\:pb-16 {
  padding-bottom: 1rem;
}

.md\:pb-20 {
  padding-bottom: 1.25rem;
}

.md\:pb-24 {
  padding-bottom: 1.5rem;
}

.md\:pb-36 {
  padding-bottom: 2.25rem;
}

.lg\:pb-0 {
  padding-bottom: 0;
}

.lg\:pb-1 {
  padding-bottom: 1px;
}

.lg\:pb-2 {
  padding-bottom: 0.125rem;
}

.lg\:pb-4 {
  padding-bottom: 0.25rem;
}

.lg\:pb-8 {
  padding-bottom: 0.5rem;
}

.lg\:pb-12 {
  padding-bottom: 0.75rem;
}

.lg\:pb-16 {
  padding-bottom: 1rem;
}

.lg\:pb-20 {
  padding-bottom: 1.25rem;
}

.lg\:pb-24 {
  padding-bottom: 1.5rem;
}

.lg\:pb-36 {
  padding-bottom: 2.25rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1px;
}

.pl-2 {
  padding-left: 0.125rem;
}

.pl-4 {
  padding-left: 0.25rem;
}

.pl-8 {
  padding-left: 0.5rem;
}

.pl-12 {
  padding-left: 0.75rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.pl-24 {
  padding-left: 1.5rem;
}

.pl-36 {
  padding-left: 2.25rem;
}

.sm\:pl-0 {
  padding-left: 0;
}

.sm\:pl-1 {
  padding-left: 1px;
}

.sm\:pl-2 {
  padding-left: 0.125rem;
}

.sm\:pl-4 {
  padding-left: 0.25rem;
}

.sm\:pl-8 {
  padding-left: 0.5rem;
}

.sm\:pl-12 {
  padding-left: 0.75rem;
}

.sm\:pl-16 {
  padding-left: 1rem;
}

.sm\:pl-20 {
  padding-left: 1.25rem;
}

.sm\:pl-24 {
  padding-left: 1.5rem;
}

.sm\:pl-36 {
  padding-left: 2.25rem;
}

.md\:pl-0 {
  padding-left: 0;
}

.md\:pl-1 {
  padding-left: 1px;
}

.md\:pl-2 {
  padding-left: 0.125rem;
}

.md\:pl-4 {
  padding-left: 0.25rem;
}

.md\:pl-8 {
  padding-left: 0.5rem;
}

.md\:pl-12 {
  padding-left: 0.75rem;
}

.md\:pl-16 {
  padding-left: 1rem;
}

.md\:pl-20 {
  padding-left: 1.25rem;
}

.md\:pl-24 {
  padding-left: 1.5rem;
}

.md\:pl-36 {
  padding-left: 2.25rem;
}

.lg\:pl-0 {
  padding-left: 0;
}

.lg\:pl-1 {
  padding-left: 1px;
}

.lg\:pl-2 {
  padding-left: 0.125rem;
}

.lg\:pl-4 {
  padding-left: 0.25rem;
}

.lg\:pl-8 {
  padding-left: 0.5rem;
}

.lg\:pl-12 {
  padding-left: 0.75rem;
}

.lg\:pl-16 {
  padding-left: 1rem;
}

.lg\:pl-20 {
  padding-left: 1.25rem;
}

.lg\:pl-24 {
  padding-left: 1.5rem;
}

.lg\:pl-36 {
  padding-left: 2.25rem;
}

.px-0 {
  padding-inline: 0;
}

.px-1 {
  padding-inline: 1px;
}

.px-2 {
  padding-inline: 0.125rem;
}

.px-4 {
  padding-inline: 0.25rem;
}

.px-8 {
  padding-inline: 0.5rem;
}

.px-12 {
  padding-inline: 0.75rem;
}

.px-16 {
  padding-inline: 1rem;
}

.px-20 {
  padding-inline: 1.25rem;
}

.px-24 {
  padding-inline: 1.5rem;
}

.px-36 {
  padding-inline: 2.25rem;
}

.sm\:px-0 {
  padding-inline: 0;
}

.sm\:px-1 {
  padding-inline: 1px;
}

.sm\:px-2 {
  padding-inline: 0.125rem;
}

.sm\:px-4 {
  padding-inline: 0.25rem;
}

.sm\:px-8 {
  padding-inline: 0.5rem;
}

.sm\:px-12 {
  padding-inline: 0.75rem;
}

.sm\:px-16 {
  padding-inline: 1rem;
}

.sm\:px-20 {
  padding-inline: 1.25rem;
}

.sm\:px-24 {
  padding-inline: 1.5rem;
}

.sm\:px-36 {
  padding-inline: 2.25rem;
}

.md\:px-0 {
  padding-inline: 0;
}

.md\:px-1 {
  padding-inline: 1px;
}

.md\:px-2 {
  padding-inline: 0.125rem;
}

.md\:px-4 {
  padding-inline: 0.25rem;
}

.md\:px-8 {
  padding-inline: 0.5rem;
}

.md\:px-12 {
  padding-inline: 0.75rem;
}

.md\:px-16 {
  padding-inline: 1rem;
}

.md\:px-20 {
  padding-inline: 1.25rem;
}

.md\:px-24 {
  padding-inline: 1.5rem;
}

.md\:px-36 {
  padding-inline: 2.25rem;
}

.lg\:px-0 {
  padding-inline: 0;
}

.lg\:px-1 {
  padding-inline: 1px;
}

.lg\:px-2 {
  padding-inline: 0.125rem;
}

.lg\:px-4 {
  padding-inline: 0.25rem;
}

.lg\:px-8 {
  padding-inline: 0.5rem;
}

.lg\:px-12 {
  padding-inline: 0.75rem;
}

.lg\:px-16 {
  padding-inline: 1rem;
}

.lg\:px-20 {
  padding-inline: 1.25rem;
}

.lg\:px-24 {
  padding-inline: 1.5rem;
}

.lg\:px-36 {
  padding-inline: 2.25rem;
}

.py-0 {
  padding-block: 0;
}

.py-1 {
  padding-block: 1px;
}

.py-2 {
  padding-block: 0.125rem;
}

.py-4 {
  padding-block: 0.25rem;
}

.py-8 {
  padding-block: 0.5rem;
}

.py-12 {
  padding-block: 0.75rem;
}

.py-16 {
  padding-block: 1rem;
}

.py-20 {
  padding-block: 1.25rem;
}

.py-24 {
  padding-block: 1.5rem;
}

.py-36 {
  padding-block: 2.25rem;
}

.sm\:py-0 {
  padding-block: 0;
}

.sm\:py-1 {
  padding-block: 1px;
}

.sm\:py-2 {
  padding-block: 0.125rem;
}

.sm\:py-4 {
  padding-block: 0.25rem;
}

.sm\:py-8 {
  padding-block: 0.5rem;
}

.sm\:py-12 {
  padding-block: 0.75rem;
}

.sm\:py-16 {
  padding-block: 1rem;
}

.sm\:py-20 {
  padding-block: 1.25rem;
}

.sm\:py-24 {
  padding-block: 1.5rem;
}

.sm\:py-36 {
  padding-block: 2.25rem;
}

.md\:py-0 {
  padding-block: 0;
}

.md\:py-1 {
  padding-block: 1px;
}

.md\:py-2 {
  padding-block: 0.125rem;
}

.md\:py-4 {
  padding-block: 0.25rem;
}

.md\:py-8 {
  padding-block: 0.5rem;
}

.md\:py-12 {
  padding-block: 0.75rem;
}

.md\:py-16 {
  padding-block: 1rem;
}

.md\:py-20 {
  padding-block: 1.25rem;
}

.md\:py-24 {
  padding-block: 1.5rem;
}

.md\:py-36 {
  padding-block: 2.25rem;
}

.lg\:py-0 {
  padding-block: 0;
}

.lg\:py-1 {
  padding-block: 1px;
}

.lg\:py-2 {
  padding-block: 0.125rem;
}

.lg\:py-4 {
  padding-block: 0.25rem;
}

.lg\:py-8 {
  padding-block: 0.5rem;
}

.lg\:py-12 {
  padding-block: 0.75rem;
}

.lg\:py-16 {
  padding-block: 1rem;
}

.lg\:py-20 {
  padding-block: 1.25rem;
}

.lg\:py-24 {
  padding-block: 1.5rem;
}

.lg\:py-36 {
  padding-block: 2.25rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1px;
}

.m-2 {
  margin: 0.125rem;
}

.m-4 {
  margin: 0.25rem;
}

.m-8 {
  margin: 0.5rem;
}

.m-12 {
  margin: 0.75rem;
}

.m-16 {
  margin: 1rem;
}

.m-20 {
  margin: 1.25rem;
}

.m-24 {
  margin: 1.5rem;
}

.m-36 {
  margin: 2.25rem;
}

.m-auto {
  margin: auto;
}

.sm\:m-0 {
  margin: 0;
}

.sm\:m-1 {
  margin: 1px;
}

.sm\:m-2 {
  margin: 0.125rem;
}

.sm\:m-4 {
  margin: 0.25rem;
}

.sm\:m-8 {
  margin: 0.5rem;
}

.sm\:m-12 {
  margin: 0.75rem;
}

.sm\:m-16 {
  margin: 1rem;
}

.sm\:m-20 {
  margin: 1.25rem;
}

.sm\:m-24 {
  margin: 1.5rem;
}

.sm\:m-36 {
  margin: 2.25rem;
}

.sm\:m-auto {
  margin: auto;
}

.md\:m-0 {
  margin: 0;
}

.md\:m-1 {
  margin: 1px;
}

.md\:m-2 {
  margin: 0.125rem;
}

.md\:m-4 {
  margin: 0.25rem;
}

.md\:m-8 {
  margin: 0.5rem;
}

.md\:m-12 {
  margin: 0.75rem;
}

.md\:m-16 {
  margin: 1rem;
}

.md\:m-20 {
  margin: 1.25rem;
}

.md\:m-24 {
  margin: 1.5rem;
}

.md\:m-36 {
  margin: 2.25rem;
}

.md\:m-auto {
  margin: auto;
}

.lg\:m-0 {
  margin: 0;
}

.lg\:m-1 {
  margin: 1px;
}

.lg\:m-2 {
  margin: 0.125rem;
}

.lg\:m-4 {
  margin: 0.25rem;
}

.lg\:m-8 {
  margin: 0.5rem;
}

.lg\:m-12 {
  margin: 0.75rem;
}

.lg\:m-16 {
  margin: 1rem;
}

.lg\:m-20 {
  margin: 1.25rem;
}

.lg\:m-24 {
  margin: 1.5rem;
}

.lg\:m-36 {
  margin: 2.25rem;
}

.lg\:m-auto {
  margin: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1px;
}

.mt-2 {
  margin-top: 0.125rem;
}

.mt-4 {
  margin-top: 0.25rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.mt-16 {
  margin-top: 1rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.mt-36 {
  margin-top: 2.25rem;
}

.mt-auto {
  margin-top: auto;
}

.sm\:mt-0 {
  margin-top: 0;
}

.sm\:mt-1 {
  margin-top: 1px;
}

.sm\:mt-2 {
  margin-top: 0.125rem;
}

.sm\:mt-4 {
  margin-top: 0.25rem;
}

.sm\:mt-8 {
  margin-top: 0.5rem;
}

.sm\:mt-12 {
  margin-top: 0.75rem;
}

.sm\:mt-16 {
  margin-top: 1rem;
}

.sm\:mt-20 {
  margin-top: 1.25rem;
}

.sm\:mt-24 {
  margin-top: 1.5rem;
}

.sm\:mt-36 {
  margin-top: 2.25rem;
}

.sm\:mt-auto {
  margin-top: auto;
}

.md\:mt-0 {
  margin-top: 0;
}

.md\:mt-1 {
  margin-top: 1px;
}

.md\:mt-2 {
  margin-top: 0.125rem;
}

.md\:mt-4 {
  margin-top: 0.25rem;
}

.md\:mt-8 {
  margin-top: 0.5rem;
}

.md\:mt-12 {
  margin-top: 0.75rem;
}

.md\:mt-16 {
  margin-top: 1rem;
}

.md\:mt-20 {
  margin-top: 1.25rem;
}

.md\:mt-24 {
  margin-top: 1.5rem;
}

.md\:mt-36 {
  margin-top: 2.25rem;
}

.md\:mt-auto {
  margin-top: auto;
}

.lg\:mt-0 {
  margin-top: 0;
}

.lg\:mt-1 {
  margin-top: 1px;
}

.lg\:mt-2 {
  margin-top: 0.125rem;
}

.lg\:mt-4 {
  margin-top: 0.25rem;
}

.lg\:mt-8 {
  margin-top: 0.5rem;
}

.lg\:mt-12 {
  margin-top: 0.75rem;
}

.lg\:mt-16 {
  margin-top: 1rem;
}

.lg\:mt-20 {
  margin-top: 1.25rem;
}

.lg\:mt-24 {
  margin-top: 1.5rem;
}

.lg\:mt-36 {
  margin-top: 2.25rem;
}

.lg\:mt-auto {
  margin-top: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1px;
}

.mr-2 {
  margin-right: 0.125rem;
}

.mr-4 {
  margin-right: 0.25rem;
}

.mr-8 {
  margin-right: 0.5rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.mr-16 {
  margin-right: 1rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.mr-36 {
  margin-right: 2.25rem;
}

.mr-auto {
  margin-right: auto;
}

.sm\:mr-0 {
  margin-right: 0;
}

.sm\:mr-1 {
  margin-right: 1px;
}

.sm\:mr-2 {
  margin-right: 0.125rem;
}

.sm\:mr-4 {
  margin-right: 0.25rem;
}

.sm\:mr-8 {
  margin-right: 0.5rem;
}

.sm\:mr-12 {
  margin-right: 0.75rem;
}

.sm\:mr-16 {
  margin-right: 1rem;
}

.sm\:mr-20 {
  margin-right: 1.25rem;
}

.sm\:mr-24 {
  margin-right: 1.5rem;
}

.sm\:mr-36 {
  margin-right: 2.25rem;
}

.sm\:mr-auto {
  margin-right: auto;
}

.md\:mr-0 {
  margin-right: 0;
}

.md\:mr-1 {
  margin-right: 1px;
}

.md\:mr-2 {
  margin-right: 0.125rem;
}

.md\:mr-4 {
  margin-right: 0.25rem;
}

.md\:mr-8 {
  margin-right: 0.5rem;
}

.md\:mr-12 {
  margin-right: 0.75rem;
}

.md\:mr-16 {
  margin-right: 1rem;
}

.md\:mr-20 {
  margin-right: 1.25rem;
}

.md\:mr-24 {
  margin-right: 1.5rem;
}

.md\:mr-36 {
  margin-right: 2.25rem;
}

.md\:mr-auto {
  margin-right: auto;
}

.lg\:mr-0 {
  margin-right: 0;
}

.lg\:mr-1 {
  margin-right: 1px;
}

.lg\:mr-2 {
  margin-right: 0.125rem;
}

.lg\:mr-4 {
  margin-right: 0.25rem;
}

.lg\:mr-8 {
  margin-right: 0.5rem;
}

.lg\:mr-12 {
  margin-right: 0.75rem;
}

.lg\:mr-16 {
  margin-right: 1rem;
}

.lg\:mr-20 {
  margin-right: 1.25rem;
}

.lg\:mr-24 {
  margin-right: 1.5rem;
}

.lg\:mr-36 {
  margin-right: 2.25rem;
}

.lg\:mr-auto {
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-2 {
  margin-bottom: 0.125rem;
}

.mb-4 {
  margin-bottom: 0.25rem;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-36 {
  margin-bottom: 2.25rem;
}

.mb-auto {
  margin-bottom: auto;
}

.sm\:mb-0 {
  margin-bottom: 0;
}

.sm\:mb-1 {
  margin-bottom: 1px;
}

.sm\:mb-2 {
  margin-bottom: 0.125rem;
}

.sm\:mb-4 {
  margin-bottom: 0.25rem;
}

.sm\:mb-8 {
  margin-bottom: 0.5rem;
}

.sm\:mb-12 {
  margin-bottom: 0.75rem;
}

.sm\:mb-16 {
  margin-bottom: 1rem;
}

.sm\:mb-20 {
  margin-bottom: 1.25rem;
}

.sm\:mb-24 {
  margin-bottom: 1.5rem;
}

.sm\:mb-36 {
  margin-bottom: 2.25rem;
}

.sm\:mb-auto {
  margin-bottom: auto;
}

.md\:mb-0 {
  margin-bottom: 0;
}

.md\:mb-1 {
  margin-bottom: 1px;
}

.md\:mb-2 {
  margin-bottom: 0.125rem;
}

.md\:mb-4 {
  margin-bottom: 0.25rem;
}

.md\:mb-8 {
  margin-bottom: 0.5rem;
}

.md\:mb-12 {
  margin-bottom: 0.75rem;
}

.md\:mb-16 {
  margin-bottom: 1rem;
}

.md\:mb-20 {
  margin-bottom: 1.25rem;
}

.md\:mb-24 {
  margin-bottom: 1.5rem;
}

.md\:mb-36 {
  margin-bottom: 2.25rem;
}

.md\:mb-auto {
  margin-bottom: auto;
}

.lg\:mb-0 {
  margin-bottom: 0;
}

.lg\:mb-1 {
  margin-bottom: 1px;
}

.lg\:mb-2 {
  margin-bottom: 0.125rem;
}

.lg\:mb-4 {
  margin-bottom: 0.25rem;
}

.lg\:mb-8 {
  margin-bottom: 0.5rem;
}

.lg\:mb-12 {
  margin-bottom: 0.75rem;
}

.lg\:mb-16 {
  margin-bottom: 1rem;
}

.lg\:mb-20 {
  margin-bottom: 1.25rem;
}

.lg\:mb-24 {
  margin-bottom: 1.5rem;
}

.lg\:mb-36 {
  margin-bottom: 2.25rem;
}

.lg\:mb-auto {
  margin-bottom: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1px;
}

.ml-2 {
  margin-left: 0.125rem;
}

.ml-4 {
  margin-left: 0.25rem;
}

.ml-8 {
  margin-left: 0.5rem;
}

.ml-12 {
  margin-left: 0.75rem;
}

.ml-16 {
  margin-left: 1rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.ml-36 {
  margin-left: 2.25rem;
}

.ml-auto {
  margin-left: auto;
}

.sm\:ml-0 {
  margin-left: 0;
}

.sm\:ml-1 {
  margin-left: 1px;
}

.sm\:ml-2 {
  margin-left: 0.125rem;
}

.sm\:ml-4 {
  margin-left: 0.25rem;
}

.sm\:ml-8 {
  margin-left: 0.5rem;
}

.sm\:ml-12 {
  margin-left: 0.75rem;
}

.sm\:ml-16 {
  margin-left: 1rem;
}

.sm\:ml-20 {
  margin-left: 1.25rem;
}

.sm\:ml-24 {
  margin-left: 1.5rem;
}

.sm\:ml-36 {
  margin-left: 2.25rem;
}

.sm\:ml-auto {
  margin-left: auto;
}

.md\:ml-0 {
  margin-left: 0;
}

.md\:ml-1 {
  margin-left: 1px;
}

.md\:ml-2 {
  margin-left: 0.125rem;
}

.md\:ml-4 {
  margin-left: 0.25rem;
}

.md\:ml-8 {
  margin-left: 0.5rem;
}

.md\:ml-12 {
  margin-left: 0.75rem;
}

.md\:ml-16 {
  margin-left: 1rem;
}

.md\:ml-20 {
  margin-left: 1.25rem;
}

.md\:ml-24 {
  margin-left: 1.5rem;
}

.md\:ml-36 {
  margin-left: 2.25rem;
}

.md\:ml-auto {
  margin-left: auto;
}

.lg\:ml-0 {
  margin-left: 0;
}

.lg\:ml-1 {
  margin-left: 1px;
}

.lg\:ml-2 {
  margin-left: 0.125rem;
}

.lg\:ml-4 {
  margin-left: 0.25rem;
}

.lg\:ml-8 {
  margin-left: 0.5rem;
}

.lg\:ml-12 {
  margin-left: 0.75rem;
}

.lg\:ml-16 {
  margin-left: 1rem;
}

.lg\:ml-20 {
  margin-left: 1.25rem;
}

.lg\:ml-24 {
  margin-left: 1.5rem;
}

.lg\:ml-36 {
  margin-left: 2.25rem;
}

.lg\:ml-auto {
  margin-left: auto;
}

.mx-0 {
  margin-inline: 0;
}

.mx-1 {
  margin-inline: 1px;
}

.mx-2 {
  margin-inline: 0.125rem;
}

.mx-4 {
  margin-inline: 0.25rem;
}

.mx-8 {
  margin-inline: 0.5rem;
}

.mx-12 {
  margin-inline: 0.75rem;
}

.mx-16 {
  margin-inline: 1rem;
}

.mx-20 {
  margin-inline: 1.25rem;
}

.mx-24 {
  margin-inline: 1.5rem;
}

.mx-36 {
  margin-inline: 2.25rem;
}

.mx-auto {
  margin-inline: auto;
}

.sm\:mx-0 {
  margin-inline: 0;
}

.sm\:mx-1 {
  margin-inline: 1px;
}

.sm\:mx-2 {
  margin-inline: 0.125rem;
}

.sm\:mx-4 {
  margin-inline: 0.25rem;
}

.sm\:mx-8 {
  margin-inline: 0.5rem;
}

.sm\:mx-12 {
  margin-inline: 0.75rem;
}

.sm\:mx-16 {
  margin-inline: 1rem;
}

.sm\:mx-20 {
  margin-inline: 1.25rem;
}

.sm\:mx-24 {
  margin-inline: 1.5rem;
}

.sm\:mx-36 {
  margin-inline: 2.25rem;
}

.sm\:mx-auto {
  margin-inline: auto;
}

.md\:mx-0 {
  margin-inline: 0;
}

.md\:mx-1 {
  margin-inline: 1px;
}

.md\:mx-2 {
  margin-inline: 0.125rem;
}

.md\:mx-4 {
  margin-inline: 0.25rem;
}

.md\:mx-8 {
  margin-inline: 0.5rem;
}

.md\:mx-12 {
  margin-inline: 0.75rem;
}

.md\:mx-16 {
  margin-inline: 1rem;
}

.md\:mx-20 {
  margin-inline: 1.25rem;
}

.md\:mx-24 {
  margin-inline: 1.5rem;
}

.md\:mx-36 {
  margin-inline: 2.25rem;
}

.md\:mx-auto {
  margin-inline: auto;
}

.lg\:mx-0 {
  margin-inline: 0;
}

.lg\:mx-1 {
  margin-inline: 1px;
}

.lg\:mx-2 {
  margin-inline: 0.125rem;
}

.lg\:mx-4 {
  margin-inline: 0.25rem;
}

.lg\:mx-8 {
  margin-inline: 0.5rem;
}

.lg\:mx-12 {
  margin-inline: 0.75rem;
}

.lg\:mx-16 {
  margin-inline: 1rem;
}

.lg\:mx-20 {
  margin-inline: 1.25rem;
}

.lg\:mx-24 {
  margin-inline: 1.5rem;
}

.lg\:mx-36 {
  margin-inline: 2.25rem;
}

.lg\:mx-auto {
  margin-inline: auto;
}

.my-0 {
  margin-block: 0;
}

.my-1 {
  margin-block: 1px;
}

.my-2 {
  margin-block: 0.125rem;
}

.my-4 {
  margin-block: 0.25rem;
}

.my-8 {
  margin-block: 0.5rem;
}

.my-12 {
  margin-block: 0.75rem;
}

.my-16 {
  margin-block: 1rem;
}

.my-20 {
  margin-block: 1.25rem;
}

.my-24 {
  margin-block: 1.5rem;
}

.my-36 {
  margin-block: 2.25rem;
}

.my-auto {
  margin-block: auto;
}

.sm\:my-0 {
  margin-block: 0;
}

.sm\:my-1 {
  margin-block: 1px;
}

.sm\:my-2 {
  margin-block: 0.125rem;
}

.sm\:my-4 {
  margin-block: 0.25rem;
}

.sm\:my-8 {
  margin-block: 0.5rem;
}

.sm\:my-12 {
  margin-block: 0.75rem;
}

.sm\:my-16 {
  margin-block: 1rem;
}

.sm\:my-20 {
  margin-block: 1.25rem;
}

.sm\:my-24 {
  margin-block: 1.5rem;
}

.sm\:my-36 {
  margin-block: 2.25rem;
}

.sm\:my-auto {
  margin-block: auto;
}

.md\:my-0 {
  margin-block: 0;
}

.md\:my-1 {
  margin-block: 1px;
}

.md\:my-2 {
  margin-block: 0.125rem;
}

.md\:my-4 {
  margin-block: 0.25rem;
}

.md\:my-8 {
  margin-block: 0.5rem;
}

.md\:my-12 {
  margin-block: 0.75rem;
}

.md\:my-16 {
  margin-block: 1rem;
}

.md\:my-20 {
  margin-block: 1.25rem;
}

.md\:my-24 {
  margin-block: 1.5rem;
}

.md\:my-36 {
  margin-block: 2.25rem;
}

.md\:my-auto {
  margin-block: auto;
}

.lg\:my-0 {
  margin-block: 0;
}

.lg\:my-1 {
  margin-block: 1px;
}

.lg\:my-2 {
  margin-block: 0.125rem;
}

.lg\:my-4 {
  margin-block: 0.25rem;
}

.lg\:my-8 {
  margin-block: 0.5rem;
}

.lg\:my-12 {
  margin-block: 0.75rem;
}

.lg\:my-16 {
  margin-block: 1rem;
}

.lg\:my-20 {
  margin-block: 1.25rem;
}

.lg\:my-24 {
  margin-block: 1.5rem;
}

.lg\:my-36 {
  margin-block: 2.25rem;
}

.lg\:my-auto {
  margin-block: auto;
}

.hide {
  display: none;
}

.show {
  display: revert;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-smaller {
  font-size: smaller;
}

.text-larger {
  font-size: larger;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-wrap {
  overflow-wrap: break-word;
}

@media (min-width: 576px) {
  .sm\:hide {
    display: none;
  }
}
@media (min-width: 992px) {
  .md\:hide {
    display: none;
  }
}
@media (min-width: 1400px) {
  .lg\:hide {
    display: none;
  }
}
@media (min-width: 576px) {
  .sm\:show {
    display: revert;
  }
}
@media (min-width: 992px) {
  .md\:show {
    display: revert;
  }
}
@media (min-width: 1400px) {
  .lg\:show {
    display: revert;
  }
}
@media (min-width: 576px) {
  .sm\:block {
    display: block;
  }
}
@media (min-width: 992px) {
  .md\:block {
    display: block;
  }
}
@media (min-width: 1400px) {
  .lg\:block {
    display: block;
  }
}
@media (min-width: 576px) {
  .sm\:inline {
    display: inline;
  }
}
@media (min-width: 992px) {
  .md\:inline {
    display: inline;
  }
}
@media (min-width: 1400px) {
  .lg\:inline {
    display: inline;
  }
}
@media (min-width: 576px) {
  .sm\:inline-block {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .md\:inline-block {
    display: inline-block;
  }
}
@media (min-width: 1400px) {
  .lg\:inline-block {
    display: inline-block;
  }
}
@media (min-width: 576px) {
  .sm\:flex {
    display: flex;
  }
}
@media (min-width: 992px) {
  .md\:flex {
    display: flex;
  }
}
@media (min-width: 1400px) {
  .lg\:flex {
    display: flex;
  }
}
@media (min-width: 576px) {
  .sm\:grid {
    display: grid;
  }
}
@media (min-width: 992px) {
  .md\:grid {
    display: grid;
  }
}
@media (min-width: 1400px) {
  .lg\:grid {
    display: grid;
  }
}
@media (min-width: 576px) {
  .sm\:inline-grid {
    display: inline-grid;
  }
}
@media (min-width: 992px) {
  .md\:inline-grid {
    display: inline-grid;
  }
}
@media (min-width: 1400px) {
  .lg\:inline-grid {
    display: inline-grid;
  }
}
@media (min-width: 576px) {
  .sm\:text-normal {
    font-weight: normal;
  }
}
@media (min-width: 992px) {
  .md\:text-normal {
    font-weight: normal;
  }
}
@media (min-width: 1400px) {
  .lg\:text-normal {
    font-weight: normal;
  }
}
@media (min-width: 576px) {
  .sm\:text-bold {
    font-weight: bold;
  }
}
@media (min-width: 992px) {
  .md\:text-bold {
    font-weight: bold;
  }
}
@media (min-width: 1400px) {
  .lg\:text-bold {
    font-weight: bold;
  }
}
@media (min-width: 576px) {
  .sm\:text-italic {
    font-style: italic;
  }
}
@media (min-width: 992px) {
  .md\:text-italic {
    font-style: italic;
  }
}
@media (min-width: 1400px) {
  .lg\:text-italic {
    font-style: italic;
  }
}
@media (min-width: 576px) {
  .sm\:text-uppercase {
    text-transform: uppercase;
  }
}
@media (min-width: 992px) {
  .md\:text-uppercase {
    text-transform: uppercase;
  }
}
@media (min-width: 1400px) {
  .lg\:text-uppercase {
    text-transform: uppercase;
  }
}
@media (min-width: 576px) {
  .sm\:text-lowercase {
    text-transform: lowercase;
  }
}
@media (min-width: 992px) {
  .md\:text-lowercase {
    text-transform: lowercase;
  }
}
@media (min-width: 1400px) {
  .lg\:text-lowercase {
    text-transform: lowercase;
  }
}
@media (min-width: 576px) {
  .sm\:text-smaller {
    font-size: smaller;
  }
}
@media (min-width: 992px) {
  .md\:text-smaller {
    font-size: smaller;
  }
}
@media (min-width: 1400px) {
  .lg\:text-smaller {
    font-size: smaller;
  }
}
@media (min-width: 576px) {
  .sm\:text-larger {
    font-size: larger;
  }
}
@media (min-width: 992px) {
  .md\:text-larger {
    font-size: larger;
  }
}
@media (min-width: 1400px) {
  .lg\:text-larger {
    font-size: larger;
  }
}
@media (min-width: 576px) {
  .sm\:text-left {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .md\:text-left {
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .lg\:text-left {
    text-align: left;
  }
}
@media (min-width: 576px) {
  .sm\:text-center {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .md\:text-center {
    text-align: center;
  }
}
@media (min-width: 1400px) {
  .lg\:text-center {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .sm\:text-right {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .md\:text-right {
    text-align: right;
  }
}
@media (min-width: 1400px) {
  .lg\:text-right {
    text-align: right;
  }
}
@media (min-width: 576px) {
  .sm\:text-justify {
    text-align: justify;
  }
}
@media (min-width: 992px) {
  .md\:text-justify {
    text-align: justify;
  }
}
@media (min-width: 1400px) {
  .lg\:text-justify {
    text-align: justify;
  }
}
@media (min-width: 576px) {
  .sm\:text-wrap {
    overflow-wrap: break-word;
  }
}
@media (min-width: 992px) {
  .md\:text-wrap {
    overflow-wrap: break-word;
  }
}
@media (min-width: 1400px) {
  .lg\:text-wrap {
    overflow-wrap: break-word;
  }
}
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media (min-width: 576px) {
  .sm\:visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
@media (min-width: 992px) {
  .md\:visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
@media (min-width: 1400px) {
  .lg\:visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}