<button
  class="burger-button"
  aria-label="Ouvrir la navigation"
  aria-controls="navigation"
  aria-expanded="false"
>
  <svg class="burger-icon" aria-hidden="true" viewBox="0 0 10 10">
    <rect class="rect-1" />
    <rect class="rect-2" />
    <rect class="rect-3" />
  </svg>
</button>