<header class="main-header" role="banner" data-layout="repel" data-align="center">
  <div class="content">
    <h1 class="title-main" id="site-title">
      <img src="/images/bretzel-logo.svg" alt="Bretzel" width="230" height="47" />
    </h1>
    <p class="tagline">Pour avoir la <i>class</i> en Alsace.</p>
  </div>

  {{!-- Theme Switcher --}}
  {{> theme-switcher}}

  {{!-- Burger --}}
  {{> burger-button}}
</header>
