<div class="main-content"
  data-title="Bretzel Layouts, par Alsacréations"
  data-description="Bretzel est un ensemble de Layouts HTML/CSS utilitaires par Alsacréations.">
    <h2 class="title-l">Tu vois Bootstrap&#8239;? Bah,
      c'est pas ça.</h2>
    <p class="intro">Bretzel est un ensemble de
      <em>Layouts HTML/CSS</em>
      utilitaires réunis par l'agence Alsacréations pour ses projets
      d'intégration.</p>

    <h3 class="title-m">C’est quoi des Layouts&#8239;?</h3>
    <p>Les
      <strong>Layouts Bretzel</strong>
      sont des structures HTML/CSS utilitaires neutres destinées à gérer la
      façon dont les contenus vont s'afficher et interagir entre eux.</p>
    <p> Les
      Layouts sont conçus pour être <strong>réutilisables</strong>, ils sont
      <strong>responsive</strong> automatiquement (s'adaptent à leur environnement), et sont entièrement
      <strong>paramétrables</strong>. On les applique simplement à l'aide d'un
      attribut HTML
      <code>data-layout</code>.
    </p>

  <section class="section section-cards" data-layout="switcher" data-gap="m" data-align="stretch">
    {{> card icon="github" variant="bretzel" title="Tous les Layouts" text="Nos Layouts sont publiés et consultables sur GitHub, ils sont mis à jour régulièrement." link="Récupérer les Layouts" link-url="https://github.com/alsacreations/bretzel/blob/main/public/layouts.css" }}
    {{> card icon="windows" title="Extension VSCode" text="Installer l'extension Visual Studio Code pour faciliter l’intégration des Layouts dans vos projets." link="Installer l'extension" link-url="https://marketplace.visualstudio.com/items?itemName=alsacreations.bretzel-vscode" }}
    {{> card icon="sheet" title="Pense-bête" text="Un récapitulatif visuel est disponible en téléchargement (PDF 700ko) pour vous aider à tout retenir." link="Télécharger le pense-bête" link-url="https://github.com/alsacreations/bretzel/blob/main/public/layouts-cheatsheet.pdf" }}
  </section>

</div>
