<div class="main-content">
  <section class="section">
    <h2 class="title-l" id="component-title">Tu vois Bootstrap&#8239;? Bah,
      c'est pas ça.</h2>
    <p>Bretzel est un ensemble de
      <em>Layouts HTML/CSS</em>
      utilitaires réunis par l'agence Alsacréations pour ses projets
      d'intégration.</p>

    <h3 class="title-m">C’est quoi des Layouts&#8239;?</h3>
    <p>Les
      <strong>Layouts Bretzel</strong>
      sont des structures HTML/CSS utilitaires neutres destinées à gérer la
      façon dont les contenus vont s'afficher et interagir entre eux. Les
      Layouts sont
      <strong>responsive</strong>, entièrement
      <strong>paramétrables</strong>
      et destinés à être réutilisables. On les applique simplement à l'aide d'un
      attribut HTML
      <code>data-layout</code>.</p>
  </section>

  <section class="section section-cards" data-layout="switcher" data-align="start">
    {{> card title="Récupérer les Layouts" text="Voir et récupérer nos Layouts CSS sur GitHub, mis à jour régulièrement." link="Card" link-url="https://github.com/alsacreations/bretzel" }}
    {{> card title="Extension VSCode" text="Installer l'extension Visual Studio Code pour faciliter l’intégration des layouts." link="Card" link-url="https://github.com/alsacreations/bretzel" }}
    {{> card title="Cheatsheet" text="Télécharger la Cheatsheet (PDF 700ko) pour vous aider à retenir les layouts facilement." link="Card" link-url="https://github.com/alsacreations/bretzel" }}
  </section>

</div>
