<main class="main" role="main" aria-labelledby="component-title">
  <section class="section" aria-labelledby="component-title">
    <h2 class="title-l" id="component-title">Installation</h2>
    <article class="page-content">
      YAY ça marche
    </article>
  </section>
</main>