// Ce document importe :
// - la liste des classes utilitaires Tokens (dont les valeurs proviennent du fichier de _config.scss)
// - la liste des classes utilitaires Core (.visually-hidden par exemple)

@import "utils-files/utils-tokens";
@import "utils-files/utils-core";

// Constructeur de Variables CSS

/* Variables CSS (custom properties) */

:root {
  @each $utility, $utility-value in $utils {
    $source: map-get($utility-value, "source");
    $name: map-get($utility-value, "name");
    $visible: map-get($utility-value, "is-variable");
    @if $visible == true {
      @each $key, $value in $source {
        --#{$name}-#{$key}: #{$value};
      }
    }
  }
}
