/* Variables CSS (custom properties) */
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-05: #f5f5f5;
  --color-gray-10: #e6e7e8;
  --color-gray-20: #d1d3d4;
  --color-gray-30: #bcbec0;
  --color-gray-40: #a7a9ac;
  --color-gray-50: #939598;
  --color-gray-60: #808285;
  --color-gray-70: #6d6f71;
  --color-gray-80: #58595b;
  --color-gray-90: #414042;
  --color-gray-95: #262527;
  --color-green-05: #eff7ec;
  --color-green-10: #dcf0cc;
  --color-green-50: #3c763d;
  --color-green-60: #275c28;
  --color-red-05: #fff6f6;
  --color-red-10: #fae3e7;
  --color-red-50: #cf1a45;
  --color-red-60: #a00d10;
  --color-orange-05: #fdfbee;
  --color-orange-10: #faebcc;
  --color-orange-50: #c4851c;
  --color-orange-60: #8a6d3b;
  --color-blue-05: #ecf6fb;
  --color-blue-10: #c4ecf5;
  --color-blue-50: #0d7192;
  --color-blue-60: #005e7d;
  --color-primary-05: #f4cee1;
  --color-primary-10: #eca0c6;
  --color-primary-50: #ff69b4;
  --color-primary-60: #ef4399;
  --color-success-bg: var(--green-05);
  --color-success-border: var(--green-10);
  --color-success: var(--green-60);
  --color-success-hover: var(--green-60);
  --color-info-bg: var(--blue-05);
  --color-info-border: var(--blue-10);
  --color-info: var(--blue-60);
  --color-info-hover: var(--blue-60);
  --color-warning-bg: var(--orange-05);
  --color-warning-border: var(--orange-10);
  --color-warning: var(--orange-60);
  --color-warning-hover: var(--orange-60);
  --color-error-bg: var(--red-05);
  --color-error-border: var(--red-10);
  --color-error: var(--red-60);
  --color-error-hover: var(--red-60);
  --color-canvas: var(--white);
  --color-canvas--darkmode: var(--black);
  --color-base: var(--gray-90);
  --color-base--darkmode: var(--gray-10);
  --color-inverted: var(--gray-10);
  --color-inverted--darkmode: var(--gray-90);
  --color-primary: var(--primary-50);
  --color-primary--darkmode: var(--primary-10);
  --color-secondary: chocolate;
  --color-secondary--darkmode: bisque;
  --text-10: 0.625rem;
  --text-11: 0.6875rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-30: 1.875rem;
  --text-36: 2.25rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-base: 1rem;
  --text-small: 0.875rem;
  --text-smaller: 0.875em;
  --text-big: 1.125rem;
  --text-bigger: 1.125em;
  --text-inherit: inherit;
  --text-start: start;
  --text-end: end;
  --text-center: center;
  --text-justify: justify;
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
  --line-height-10: 0.625rem;
  --line-height-11: 0.6875rem;
  --line-height-12: 0.75rem;
  --line-height-14: 0.875rem;
  --line-height-16: 1rem;
  --line-height-18: 1.125rem;
  --line-height-20: 1.25rem;
  --line-height-24: 1.5rem;
  --line-height-30: 1.875rem;
  --line-height-36: 2.25rem;
  --line-height-40: 2.5rem;
  --line-height-48: 3rem;
  --line-height-base: 1rem;
  --line-height-small: 0.875rem;
  --line-height-smaller: 0.875em;
  --line-height-big: 1.125rem;
  --line-height-bigger: 1.125em;
  --line-height-inherit: inherit;
  --radius-none: 0;
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-full: 999px;
  --display-none: none;
  --display-show: revert;
  --display-block: block;
  --display-inline: inline;
  --display-inline-block: inline-block;
  --display-flex: flex;
  --display-inline-flex: inline-flex;
  --display-grid: grid;
  --display-inline-grid: inline-grid;
  --gap-0: 0;
  --gap-1: 1px;
  --gap-2: 0.125rem;
  --gap-4: 0.25rem;
  --gap-6: 0.375rem;
  --gap-8: 0.5rem;
  --gap-10: 0.625rem;
  --gap-12: 0.75rem;
  --gap-14: 0.875rem;
  --gap-16: 1rem;
  --gap-20: 1.25rem;
  --gap-24: 1.5rem;
  --gap-36: 2.25rem;
  --gap-40: 2.5rem;
  --gap-48: 3rem;
  --gap-56: 3.5rem;
  --gap-64: 4rem;
  --gap-auto: auto;
  --self-start: start;
  --self-end: end;
  --self-center: center;
  --self-between: space-between;
  --self-stretch: stretch;
  --self-auto: auto;
  --size-0: 0;
  --size-1: 1px;
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-6: 0.375rem;
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-auto: auto;
}

/* Light & Dark modes */
@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --color-canvas: var(--white);
    --color-base: var(--gray-90);
    --color-inverted: var(--gray-10);
    --color-primary: var(--primary-50);
    --color-secondary: chocolate;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-canvas: var(--color-canvas--darkmode);
    --color-base: var(--color-base--darkmode);
    --color-inverted: var(--color-inverted--darkmode);
    --color-primary: var(--color-primary--darkmode);
    --color-secondary: var(--color-secondary--darkmode);
  }
}