/* ----------------------------------
 * Polices
 * ----------------------------------
 */

/* Poppins */
@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-display: swap;
}

/* Lexend Variable */
@font-face {
  font-family: "Lexend Variable";
  font-weight: 200 900;
  /* stylelint-disable */
  src:
    url("../fonts/Lexend-VariableFont-opti.woff2") format("woff2")
      tech("variations"),
    url("../fonts/Lexend-VariableFont-opti.woff2") format("woff2-variations");
  /* stylelint-enable */
  font-display: swap;
}

/* Atkinson Variable */
@font-face {
  font-family: "Atkinson Hyperlegible Next Variable";
  font-weight: 200 800;
  /* stylelint-disable */
  src:
    url("../fonts/AtkinsonHyperlegibleNext-VariableFont-opti.woff2")
      format("woff2") tech("variations"),
    url("../fonts/AtkinsonHyperlegibleNext-VariableFont-opti.woff2")
      format("woff2-variations");
  /* stylelint-enable */
  font-display: swap;
}

/* ----------------------------------
 * Modificateurs
 * ----------------------------------
 */
:root {
  --sidebar-width: 278px;
}

[data-layout*="boxed"] {
  --boxed-max: 96rem; /* 1536px */
}

[data-layout*="switcher"] {
  --switcher-min-size: 48rem;
}

/* ----------------------------------
 * Base
 * ----------------------------------
 */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0;
  padding: var(--spacing-s);
  background-color: var(--surface);
  color: var(--on-surface);
  font-family: var(--font-lexend);
  font-size: var(--text-16);
  font-weight: var(--font-weight-regular);
  font-variation-settings: "wght" 300;
}

/* Couleur de sélection */
*::selection {
  background: var(--selection);
}

/* Titres */

.title-main {
  margin: 0;
}

.title-l {
  margin-block: 0 var(--spacing-m);
  outline: none;
  color: var(--accent);
  font-family: var(--font-poppins);
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-semibold);
}

.title-m {
  margin-block: var(--spacing-m) var(--spacing-s);
  font-family: var(--font-poppins);
  font-size: var(--text-l);
  font-weight: var(--font-weight-semibold);
}

.title-s {
  margin-block: var(--spacing-s) var(--spacing-xs);
  font-family: var(--font-poppins);
  font-size: var(--text-16);
  font-weight: var(--font-weight-semibold);
}

strong {
  color: var(--accent);
  font-weight: var(--font-weight-bold);
  font-variation-settings: "wght" 600;
}

/* ----------------------------------
 * Main
 * ----------------------------------
 */

.main-wrapper {
  display: grid;
  overflow-x: hidden;

  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.main-content {
  padding: var(--spacing-m);
  transition: var(--transition-duration);
  transition-property: translate, opacity;
  will-change: translate, opacity;
  background-color: var(--surface);

  @media (width >= 48rem) {
    margin-left: var(--sidebar-width, 278px);
  }
}

@media (width < 48rem) {
  [data-state="opened"] .main-content {
    translate: var(--sidebar-width, 278px) 0;
    opacity: 30%;
  }

  [data-state="closed"] .main-content {
    translate: 0;
    opacity: 100%;
  }
}

/* ----------------------------------
 * Content
 * ----------------------------------
 */
