/* ----------------------------------
 * Footer
 * ----------------------------------
 */

@scope (.footer) {
  :scope {
    padding-top: var(--spacing-16);
    border-top: 1px solid var(--border-color);
  }

  .footer-alsa {
    padding-block: var(--spacing-m);
    text-align: center;

    & p {
      margin: 0;
    }

    & .logo-alsacreations {
      width: 150px;
    }
  }

  .logo-link {
    display: inline-block;
    margin: auto;
    color: var(--accent);

    @media (width >= 48rem) {
      &:focus,
      &:hover {
        animation: spaceboots 2s linear infinite alternate;
      }
    }
  }

  .logo-alsacreations-pepins-inner {
    fill: var(--surface);
  }
}

@keyframes spaceboots {
  0% {
    transform: translate(2px, 1px) rotate(0);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px) rotate(1deg);
  }

  30% {
    transform: translateY(2px) rotate(0);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0);
  }

  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 2px) rotate(0);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
