/* ----------------------------------
 * Skip Links
 * ----------------------------------
 */

@scope (.skip-links) {
  :scope {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    padding: 0.6rem 1rem;
    border: 3px solid currentcolor;
    background-color: mark;
    color: marktext;
    text-decoration: none;

    &:not(:focus, :active) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      white-space: nowrap;
      clip-path: inset(50%);
    }

    &:focus-visible {
      position: absolute;
      z-index: 9999;
      top: 8px;
      left: 8px;
      width: max-content;
    }
  }
}
