// ----------------------------------
// Ce document contient les variables SCSS
// qui peuvent etre utilisées directement
// dans les fichiers CSS.
// (elles ne génèrent pas de classes utilitaires)
// (ex. body {padding: $size-large;})
// ----------------------------------

// Variables de Breakpoints (si besoin en CSS)
$small:  map-get($breakpoints, sm) !default;
$medium: map-get($breakpoints, md) !default;
$large:  map-get($breakpoints, lg) !default;

// Variables de tailles (si besoin en CSS)
$size-none:   map-get($sizes, "0") !default;
$size-mono:   map-get($sizes, "1") !default;
$size-nano:   map-get($sizes, "2") !default;
$size-micro:  map-get($sizes, "4") !default;
$size-mini:   map-get($sizes, "8") !default;
$size-small:  map-get($sizes, "12") !default;
$size-medium: map-get($sizes, "16") !default;
$size-large:  map-get($sizes, "20") !default;
$size-wide:   map-get($sizes, "24") !default;
$size-ultra:  map-get($sizes, "36") !default;

// Familles de polices
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-headings: $font-family-base !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, monospace !default;

// Tailles de polices
$font-size-html:   100% !default;
$font-size-base:   1rem !default;
$line-height-base: 1.5 !default;

// Graisses des Fonts
$font-light:     map-get($font-sizes, "light") !default;
$font-book:      map-get($font-sizes, "book") !default;
$font-regular:   map-get($font-sizes, "regular") !default;
$font-medium:    map-get($font-sizes, "medium") !default;
$font-semibold:  map-get($font-sizes, "semibold") !default;
$font-bold:      map-get($font-sizes, "bold") !default;
$font-extrabold: map-get($font-sizes, "extrabold") !default;
$font-black:     map-get($font-sizes, "black") !default;

// Border radius
$radius-none: 0 !default;
$radius-micro: $size-micro !default;
$radius-medium: $size-medium !default;
$radius-circle: 999px !default;
