// Ce document importe :
// - la liste des classes utilitaires Tokens (dont les valeurs proviennent du fichier de _config.scss)
// - la liste des classes utilitaires Core (.visually-hidden par exemple)

@import "utils-files/utils-tokens";
@import "utils-files/utils-core";

// Constructeur de classes utilitaires de base
@each $utility, $utility-value in $utils {
  $source: map-get($utility-value, "source");
  $name: map-get($utility-value, "name");
  $property: map-get($utility-value, "property");
  $blacklistValue: map-get($utility-value, "blacklistValue");
  $shortcut: map-get($utility-value, "shortcut");

  @each $key, $value in $source {
    .#{$shortcut}#{$key} {
      @if $value != $blacklistValue {
        #{$property}: var(--#{$name}-#{$key});
      }
    }
  }
  // Boucle pour chaque Breakpoint
  @each $bp-key, $bp-value in $breakpoints {
    @media (width >= #{$bp-value}) {
      @each $key, $value in $source {
        .#{$bp-key}\:#{$shortcut}#{$key} {
          @if $value != $blacklistValue {
            #{$property}: var(--#{$name}-#{$key});
          }
        }
      }
    }
  }
}

// Constructeur de classes utilitaires complexes
.visually-hidden {
  @include visually-hidden();
}

// Boucle pour chaque Breakpoint
@each $bp-key, $bp-value in $breakpoints {
  @media (width >= #{$bp-value}) {
    .#{$bp-key}\:visually-hidden {
      @include visually-hidden();
    }
  }
}
